header {
    background-color: var(--bg-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 37px 48px;
}

nav {
    display: none;
}

.logo {
    width: 68px;
    height: 64px;
    display: inline-block;
}

.nav-menu {
    margin-top: 24px;
}

input[type="checkbox"]:checked~nav {
    display: block;
}